<form class="students" ng-controller="AddStudentCtrl" ng-submit="addStudent()">
  <input type="text" ng-model="username" focus-on="username-added">
  <button type="submit">+ Add Student</button>
</form>

<div class="list-filter">
  <div class="input-group">
    <label>Filter</label>
    <input type="text" ng-model="query">
  </div>
</div>

<table>
  <tr ng-repeat="student in students | filter:query" ng-cloak>
    <td class="student-profile">
      <a href="#/students/{{student.login}}">
        <img class="student-avatar" ng-src="{{student.avatar_url}}">
        <span class="student-username">{{student.login}}</span>
      </a>
    </td>
    <td>
      <button class="remove-student" ng-click="removeStudent(student)">x</button>
    </td>
  </tr>
</table>
