<form class="add-student toolbar" ng-controller="AddStudentCtrl" ng-submit="addStudent()">
  <input type="text" placeholder="username" ng-model="username" focus-on="username-added">
  <button type="submit">+ Add</button>
</form>

<captioned-table cols="['Student', '']">
  <li class="student-list-item captioned-table-row" ng-repeat="student in studentInfo.students | filter:query | orderBy: '-latestEvent.createdAt'">
    <span class="captioned-table-cell"><student-profile student="student"></student-profile></span>
    <span class="list-actions captioned-table-cell">
      <button class="remove-student" ng-click="removeStudent(student)">x</button>
    </span>
  </li>
</captioned-table>
