<form class="assignment-form toolbar" ng-submit="assignment.goto()">
  <input type="text" placeholder="assignment name" ng-model="assignment.name">
  <button type="submit">Go</button>
</form>

<captioned-table cols="['Student', 'Homework']">
  <li class="student-list-item captioned-table-row" ng-repeat="student in studentInfo.students | filter:query | orderBy: '-latestEvent.createdAt'">
    <span class="captioned-table-cell"><student-profile student="student"></student-profile></span>
    <span class="student-repos captioned-table-cell">
      <a class="student-repo" ng-if="student.repo" target="_blank" ng-href="{{student.repo.htmlUrl}}">Repo</a>
      <a class="student-repo" ng-if="student.repo.hasPages" target="_blank" href="{{student.repo.ghPagesUrl}}">GH-Pages</a>
    </span>
  </li>
</captioned-table>
