
<div class="filter-students toolbar">
  <input type="text" placeholder="search" ng-model="query">
</div>

<ul class="student-list">
  <li class="student-list-item student-list-header">
    <span class="title">Student</span>
    <span class="title">Last Activity</span>
  </li>
  <li class="student-list-item" ng-repeat="student in studentInfo.students | filter:query | orderBy: '-latestEvent.createdAt'" ng-cloak>
    <span class="student-profile">
      <a href="{{student.htmlUrl}}" target="_blank">
        <img class="student-avatar" ng-src="{{student.avatarUrl}}">
        <span class="student-username">{{student.name || student.username}}</span>
      </a>
    </span>
    <span class="last-activity" ng-repeat="event in student.events | limitTo:1">
      {{event.createdAt | date:'MM/dd/yyyy hh:mm a'}}
    </span>
  </li>
</ul>
